
.wrapper {
  width: 940px;
  margin: 0 auto;
}

.top-nav {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0px 0;
    background: #000;
    opacity: 0.9;
    z-index: 1000;
    top: 0;
    display: block;
  }